
.button-design {
  background-color: yellow;
  padding: 2%;
  margin: 2%;
  width: 450px;
  height: 70px;
  font-weight: bolder;
  font-size: 20px;
}
 ul {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 @media all and (min-width: 600px) and (max-width: 900px) {
   .button-design {
     width: 350px;
     height: 50px;
   }

 }

 @media all and (min-width: 400px) and (max-width: 600px) {
   .button-design {
     width: 280px;
     height: 40px;
     font-size: 18px;
   }
 }

 @media all and (min-width: 300px) and (max-width: 400px) {
   .button-design {
     width: 200px;
     height: 35px;
     font-size: 17px;
   }
 }

 @media all and (min-width: 200px) and (max-width: 300px) {
   .button-design {
     width: 170px;
     height: 30px;
     font-size: 16px;
   }
 }

 @media all and (min-width: 150px) and (max-width: 200px) {
   .button-design {
     width: 115px;
     height: 25px;
     font-size: 15px;
   }
 }


  @media all and (min-width: 100px) and (max-width: 150px) {
    .button-design {
      width: 85px;
      height: 25px;
      font-size: 15px;
    }
  }
